/* common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    min-width: 1400px;
}
/*******************************************************
 header section ****************************************/
header{
    height: 800px;
    background-color: #0C325A;
    background-image: url(/assets/img/background-header.png);
    background-position: 115% 110%;
    background-size: 1500px;
    background-repeat: no-repeat;
}
/* navbar */
.nav_bar{
    height: 30px;
    width: 80%;
    margin: auto;
    line-height: 30px;
    vertical-align: middle;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
}
.logo{
    width: 15%;
    float: left;
    
}
.left_menu{
    width: 45%;
    float: left;
}
.right_menu{
    width: 40%;
    float: left;
    text-align: right;
}

ul>li>a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 0 20px;
}
ul{
    list-style: none;
}
ul>li{
    display: inline-block;
}
.button{
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 1px;
}
.button:hover {
    border: 1px solid white;
    background-color: #7CBB02;

}